body {
	background: #99bbdd;/*#becee4;lightsteelblue;*/
	/*background-image: linear-gradient(45deg, #99bbdd, #ededed);*/
}

.contact-info {
	max-width: 570px;
	padding: 10px 40px;
	margin: 108px auto auto auto;
	background-color: #ffffff;
	min-height: 450px;
	box-shadow: 5px 5px 10px #777777;
	color: black;
	font-family: verdana, sans-serif;
}

.contact-info img {
	display: block;
	margin: auto auto 10px auto;
}

.contact-info-block {
    max-width: 430px;
    margin: auto;
}

.contact-info h2 {
	padding-top: 0px;
	text-align: center;
	font-size: 24px;
	font-weight: lighter;
	font-family: verdana, sans-serif;
}

.contact-info h4 {
	font-size: 16px;
	font-weight: lighter;
	text-align: center;
	line-height: 30px;
}

.contact-info a {
	color: #0022aa;
	font-style: italic;
}

.contact-info a:hover {
    cursor: pointer;
    color: blue;
}

#footer {
	width: calc(100% - 40px);
	/*background-color:#ededed;*/
	min-height: 70px;
	/*position: absolute;
	bottom: 0;*/
	padding: 20px;
	line-height: 35px;
}

.footer-links a {
    color:black;
}

.footer-links a{
    text-decoration: none;
    color: black;
}

.footer-links a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 660px) {
	.contact-info {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (min-height: 750px) {
    #footer {
        margin-top: calc(100vh - 720px);
    }
}