body {
	background: #99bbdd;/*#becee4;lightsteelblue;*/
	/*background-image: linear-gradient(45deg, #99bbdd, #ededed);*/
}

.title {
	color: black;
	text-align: center;
	font-size: 16px;
	font-family: verdana, sans-serif;
	margin-top: 88px;
}
	
.title p {
    max-width: 600px;
    display: inline-block;
}

.people-container {
	width: calc(100% - 20px);
	max-width: 850px;
	display: flex;
	padding: 0;
	margin: /*79px*/0px auto auto auto;
	overflow-x: scroll;
	overflow-y: hidden; 
}

.person-icon {
	width: 200px;
	height: 200px;
	min-width: 200px;
	min-height: 200px;
	display: block;
	float: left;
	padding-bottom: 5px;
	filter: grayscale(80%);
}

.person-icon img {
	width: 100%;
	height: 100%;
}

.hide-scrollbar {
	width: 100%;
	max-width: 1000px;
	height: 30px;
	background-color: #dcdcdc;
	margin: 0 auto;
}

.person-info {
	width: calc(100% - 60px);
	max-width: 810px;
	min-height: 180px;
	color: black;
	padding: 20px;
	margin: 15px auto 0px auto;
	/*box-shadow: 5px 5px 10px #777;*/
	background-color: #fcfcfc;
}

.person-info h2 {
	font-size: 36px;
	margin: 0 auto;
}

.active-person {
	filter: grayscale(0%);
}

.person-info p {
	font-size: 18px;
}

#footer {
	width: calc(100% - 40px);
	/*background-color:#ededed;*/
	min-height: 70px;
	/*position: absolute;
	bottom: 0;*/
	padding: 20px;
	line-height: 35px;
}

.footer-links a{
      color:black;
    }

    .footer-links a{
      text-decoration: none;
      color: black;
    }

    .footer-links a:hover{
      text-decoration: underline;
    }

@media screen and (min-width: 650px) {
    .person-info {
        min-height: 300px;
    }
    .person-info h2 {
        padding: 30px 30px 0 30px;
    }
    .person-info p {
        font-size: 24px;
        padding: 0 30px 30px 30px;
    }
}

@media screen and (max-width: 600px) {
    .person-icon {
        width: 100px;
	    height: 100px;
	    min-width: 100px;
	    min-height: 100px;
    }
    .person-info {
        min-height: 275px;
        /*box-shadow: 2px 2px 5px #777;*/
    }
}

@media screen and (min-height: 750px) {
    #footer {
        margin-top: calc(100vh - 750px);
    }
}

