body {
	background: #99bbdd;
}

.resources-container {
    width: calc(100% - 60px);
    max-width: 1200px;
    margin: 108px auto auto auto;
    padding: 20px;
    background-color: white;
    min-height: 370px;
}

.resources-list {
    width: calc((50%) / 2);
    max-width: 1200px;
    margin: 50px auto auto auto;
    padding: 20px;
    background-color: white;
    min-height: 370px;
    display: inline-flex;
}

.resources-container img {
    width: 420px;
    max-width: 100%;
    display: block;
    float: left;
}

.resource-tag {
    width: 420px;
    max-width: 100%;
    display: block;
    float: left;
}

.resources-info {
    min-height: 450px;
    width: calc(100% - 420px);
    padding: 20px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    color: #969696;
}

.resources-container h1 {
    color: black;
    font-size: 40px;
    text-align: center;
}

.resources-info p {
    font-size: 18px;
    max-width: 500px;
    margin: 20px auto;
}

.resources-button {
    color: #969696;
    border-color: #969696;
}

.resources-button:hover {
    color: white;
    background-color: #969696;
    transition: background-color 0.5s ease;
}

#footer {
	width: calc(100% - 40px);
	/*background-color:#ededed;*/
	min-height: 70px;
	/*position: absolute;
	bottom: 0;*/
	padding: 20px;
	line-height: 35px;
}

.footer-links a {
    color:black;
}

.footer-links a{
    text-decoration: none;
    color: black;
}

.footer-links a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .resources-container img {
        float: none;
        margin: auto;
    }
    .resources-info {
        float: none;
        margin: auto;
        width: 500px;
        max-width: 100%;
    }
    .resources-container {
        width: 600px;
        max-width: calc(100% - 60px);
    }
}

@media screen and (min-height: 750px) and (min-width: 1000px) {
    #footer {
        margin-top: calc(100vh - 720px);
    }
}