body {
		padding:0;
		margin:0;
		font-family: Roboto, sans-serif;
    	color: #969696;
    	font-size: 15px;
    	line-height: 1.6em;
    	background: linear-gradient(45deg, #00b2ea, #0097de 17%, #017dca 31%, #0459b1 73%, #1142a5);
    	background-size: 100% 250%;
    	background-repeat: no-repeat;
    	/*background-attachment: fixed;*/
    	overflow-x: hidden;
	}

	.active-link {
		color: #0082f3 !important;
	}

	.dropdown {
		position: fixed;
		left:0;
		top: 77px;
		background-color: black;
		color: white;
		width: 100%;
		height: 0px;
		z-index: 999;
	}

	.dropdown, nav-link-dropdown {
		opacity: 0;
	}

	.dropdown ul {
		list-style-type: none;
		padding: 0 0 0 8px;
		margin: 0;
	}

	.dropdown a {
		display: block;
		width: 100%;
		padding: 12px;
		text-align: left;
		color: white;
		text-decoration: none;
		border-bottom: 1px dashed #333333;
	}

	.dropdown li a:last-child {
		border: none;
	}

	.hide-dropdown {
		transition: top 0.5s, opacity 0.5s ease-out, height 0.5s ease-out;
		top:77px;
		opacity: 0;
		height: 0px;
		overflow: hidden;
	}

	.show-dropdown {
		transition: top 0.4s, height 0.4s ease-out, opacity 0.7s ease-in;
		top: 77px;
		display: block;
		opacity: 1;
		height: 195.2px;
	}

	.dropdown a:hover {
		text-decoration: underline;
	}

	#banner {
		position: fixed;
    	left: 0px;
    	top: 0px;
    	right: 0px;
    	background-color: #fff;
    	box-shadow: 0 0 21px -4px #000;
    	padding: 4px;
    	z-index: 999;
    }

	#logo {
		margin-left: 14%;
	}

	#navbar ul {
		list-style-type: none;
		position: absolute;
		right: 14%;
		top: 12px;
	}

	#navbar li {
		float: right;
	}

	#navbar li a {
		text-decoration: none;
		float: right;
		color: black;
		display: block;
		padding-left: 32px;
		font-weight: 4px;
	}

	.menu-icon {
		font-size: 24px;
	}

	.menu-icon a {
		margin: 0 !important;
		padding: 28px 0 !important;
		float: left !important;
		width: 72px;
		text-align: center;
	}

	.menu-icon a:hover {
		background-color: black;
		color: white !important;
	}

	.icon-container {
		display: flex;
		width: 100%;
		max-width: 1200px;
		color: white;
		background: rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		justify-content: space-between;
		margin: auto;
		margin-top: 100px;
		overflow-x: auto;
		/*-ms-overflow-style: none;*/
	}

	/*.icon-container::-webkit-scrollbar { 
  		display: none;
	}*/

	.icon-container div {
		padding: 0;
	}

	.icon-container div:hover {
		cursor: pointer;
	}

	/*.icon-container div:first-child {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	.icon-container div:last-child {
		border-top-right-radius: 15px;
    	border-bottom-right-radius: 15px;
	}*/

	.icon-container img, .icon-container p {
	}

	.app-icon {
		margin-top: 0px;
		display: block;
		float: left; 
		width: calc(100% / 8 );
		min-width: 70px;
		text-align: center;
		height: auto;
		color: white;
	}

	.app-icon p {
		margin: 4px 0;
		font-size: 12px;
		line-height: 12px;
	}

	.active-icon {
		background: rgba(0, 0, 0, 1);
	}

	.hide-scrollbar {
		width: 100%;
		height: 20px;
		background-color: #99bbdd;
		position: relative;
		top: -18px;
	}

	.content-container {
		width: 100%;
		max-width: 1100px;
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
	}
	
	@media screen and (min-width: 1450px) {
	    .content-container {
	        width: 70%;
	        max-width: 2000px;
	    }
	    .content-container img {
	        width: 80%;
	        top: -10px;
	    }
	}

	.content-container img {
		position: absolute;
		top: -30px;
		right: 20px;
	}

	.info {
		padding: 0;
		padding-left: 20px;
		color: white;
		max-width: 500px;
	}

	.info h1 {
    	margin-top: 20px;
    	margin-bottom: 10px;
    	font-size: 46px;
    	line-height: 1.2em;
    	font-weight: 500;
    	text-transform: none;
	}

	.info p {
    	margin-bottom: 1.6em;
    	font-size: 18px;
    	line-height: 1.7em;
	}

	.info img {
		position: static;
		margin-top: 30px;
		border: 2px solid #ffffff;
		border-radius: 8px;
	}

	.decorative-line {
    	width: 40px;
    	height: 2px;
    	background-color: #fff;
	}

	.go-to-button {
        margin-top: 0px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: transparent;
        /*-webkit-transition: all 300ms ease;*/
        transition: none;
        font-family: Poppins, sans-serif;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }

    .go-to-button:hover {
        cursor: pointer !important;
        background-color: hsla(0, 0%, 100%, .2);
        color: #fff;
    }

	/*

	.slide-container {
		width: 100%;
		height: calc(100% - 108px);
	}

	@keyframes fadeIn { 
  		from { opacity: 0; } 
	}

	.slide {
		animation: fadeIn 1.5s alternate;
		width: 100%;
		height: 100%;
		opacity: 1;
		color:black;
		font-family: verdana, sans-serif;
	}

	.slide p {
		font-size: 18px;
	}

	.slide h3 {
		font-size: 36px;
		margin: 0;
		padding-top: -24px;
		padding: 16px;
		line-height: 48px;
		font-weight: lighter;
	}

	.content-all {
		width: calc(100% - 30px);
		background-color:;
		margin: auto;
		height: 280px;
	}

	.content-image {
		display: block;
		width: 250px;
		margin: 0;
		padding: 0;
		float: left;
		height: 100%
	}

	.content-right {
		display: block;
		width: calc(100% - 250px);
		background-color:;
		margin: 0;
		padding: 0;
		float: left;
		height: 100%;
	}

	.content-info {
		width: calc(100% - 30px);
		height: calc(100% - 60px - 30px);
		background-color:;
		margin-top: 0px;
		padding: 15px;
	}

	.content p {
		
	}

	.content-button {
		width: 100%;
		height: 60px;
		background-color:;
	}

	.get-started {
		display: inline-block;
		position: relative;
		left: 50%;
     	transform: translateX(-50%);
     	top: 11px;
     	width: 80%;
     	text-decoration: none;
	}

	.get-started button {
		width: 100%;
		m#in-width: 200px;
		padding: 10px;
		b#ackground-color: #0044bb;
		color: white;
		font-size: 14px;
		display: block;
		margin: auto;
		border-radius: 10px;
		border-color: #cccccc;
	}

	.get-started button:hover {
		cursor: pointer;
	}

	#slideshow {
		width: 770px;
		height: 500px;
		margin: auto;
		background-color: #99ddbb;
		margin-top: 150px;
		box-shadow: 5px 5px 10px #777777;
	}

	.menu-icon a:hover {
		background-color: black;
		color: white !important;
	}

	.app-icon {
		margin-top: 0px;
		display: block;
		float: left; 
		width: calc(100% / 8 );
		text-align: center;
		height: 108px;
		color: black;
	}

	.app-icon p {
		margin: 4px;
	}
	
	.slide {
		    overflow-y: auto;
		    overflow-x: hidden;
	}*/

	@media screen and (max-width: 1200px) {
		#banner {
			box-shadow: none;
		}
		.icon-container {
			border-radius: 0;
			margin-top: 78px;
		}
	}

	@media screen and (max-width: 1000px) {
		.content-container {
			top: 10px;
		}
		.info {
			display: block;
			padding: 20px;
			margin: auto;
		}
		.info h1 {
			font-size: 38px;
		}
		.info p {
			text-align: justify;
			text-justify: inter-word;
		}
		.go-to-button {
			display: block;
			width: calc(100% - 20px);
			max-width: 300px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		/*.content-container img {
			position: static;
			display: block;
			margin: 0 auto;
		}*/
	} 

	@media screen and (max-width: 800px) {
		#logo {
			margin-left: 8px;
		}
		#navbar ul {
			top:-16px;
			right:0;
		}
		/*#slideshow {
			position: absolute;
			left: 8px;
			right: 8px;
			bottom: 8px;
			top: -60px;
			height: inherit;
			max-height: 444px;
			width: auto;
		}
		.slide-container {
			margin-top: 0px;
			height: calc(100% - 56px);
			max-height: 444px;
		}
		.app-icon {
			height: 56px;
		}*/
	}

	@media screen and (max-width: 580px) {
		.app-icon p {
			font-size: 10px;
		}
	}

	/*@media screen and (max-width: 665px) {
		.slide p {
			font-size: 14px;
			margin-top: -15px;
		}
	}

	@media screen and (max-width: 615px) {
		.slide p {
			font-size: 12px;
		}
		.slide h3 {
			font-size: 30px;
		}
	}
	
	@media screen and (max-width: 530px) {
		.slide p {
			font-size: 11px;
		}
	}

	@media screen and (max-width: 515px) {
		.slide-container {
			height: calc(100% - 112px);
		}
		.app-icon {
			width: calc(100% / 4 );
		}
		.slide h3 {
			padding: 0px;
			text-align: center;
			font-size: 16px;	
		}
		.content-image {
			float: none;
			width: calc(100%);
			height: 100px;
			overflow: hidden;
			background-color: r#ed;
		}
		.content-right {
			float: none;
			width: 100%;
			height: auto;
			background-color: y#ellow;
		}
		.content-info {
			margin-top: 25px;
			padding: 0 0 0 0;
			width: 100%;
			height: auto;
		}
		.content-button {
			height: auto;
			width: 100%;
			background-color: r#ed;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		
		.slide img {
		    display: block;
		    margin: auto;
		}
	}

	@media screen and (max-width: 400px) {
		.slide p {
			f#ont-size: 10px;
			line-height: 14px;
		}
		.slide {
		    overflow-y: hidden;
		}
	}*/
