body {
  font-family: Roboto, sans-serif;
  color: #969696;
  font-size: 15px;
  line-height: 1.6em;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 46px;
  line-height: 1.2em;
  font-weight: 500;
  text-transform: none;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 1.2em;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 1.2em;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 500;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 15px;
  line-height: 1.2em;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-size: 15px;
  line-height: 1.2em;
  font-weight: 400;
}

p {
  margin-bottom: 1.6em;
  font-size: 18px;
  line-height: 1.7em;
}

a {
  color: #3898ec;
  text-decoration: underline;
  text-transform: none;
}

a:hover {
  color: #000;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  color: #000;
  font-size: 19px;
  line-height: 1.6em;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 0 21px -4px #000;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.welcome-tab {
  height: 100vh;
  padding-top: 194px;
  background-image: url('../images/Geneopardy.png'), -webkit-linear-gradient(45deg, #00b2ea, #0097de 17%, #017dca 31%, #0459b1 73%, #1142a5);
  background-image: url('../images/Geneopardy.png'), linear-gradient(45deg, #00b2ea, #0097de 17%, #017dca 31%, #0459b1 73%, #1142a5);
  background-position: 90% 71%, 0px 0px;
  background-size: 66%, auto;
  background-repeat: no-repeat, repeat;
  color: #fff;
}

.welcome-tab.rf-tab {
  background-image: url('../images/RF.png'), -webkit-linear-gradient(45deg, #2f7675, #255c5c);
  background-image: url('../images/RF.png'), linear-gradient(45deg, #2f7675, #255c5c);
  background-position: 90% 71%, 0px 0px;
  background-size: 66%, auto;
  background-repeat: no-repeat, repeat;
}

.welcome-tab.opg-tab {
  background-image: url('../images/OPG.png'), -webkit-linear-gradient(270deg, #273646, #273646);
  background-image: url('../images/OPG.png'), linear-gradient(180deg, #273646, #273646);
  background-position: 90% 71%, 0px 0px;
  background-size: 66%, auto;
}

.welcome-tab.wff-tab {
  background-image: url('../images/WFF.png'), -webkit-linear-gradient(45deg, #2d3288, #464a8e);
  background-image: url('../images/WFF.png'), linear-gradient(45deg, #2d3288, #464a8e);
  background-size: 66%, auto;
}

.welcome-tab.vp-tab {
  background-image: url('../images/VP.png'), -webkit-linear-gradient(45deg, #135369, #273646);
  background-image: url('../images/VP.png'), linear-gradient(45deg, #135369, #273646);
  background-size: 66%, auto;
}

.welcome-tab.pp-tab {
  background-image: url('../images/PP.png'), -webkit-linear-gradient(45deg, #5f3f20, #835f3d 57%);
  background-image: url('../images/PP.png'), linear-gradient(45deg, #5f3f20, #835f3d 57%);
  background-size: 66%, auto;
}

.welcome-tab.fhtltab {
  background-image: url('../images/fhtl.png'), -webkit-linear-gradient(45deg, #00b2ea, #0097de 17%, #017dca 31%, #0459b1 73%, #1142a5);
  background-image: url('../images/fhtl.png'), linear-gradient(45deg, #00b2ea, #0097de 17%, #017dca 31%, #0459b1 73%, #1142a5);
  background-size: 66%, auto;
  background-repeat: no-repeat, repeat;
}

.decorative-line {
  width: 40px;
  height: 2px;
  background-color: #fff;
}

.white-text {
  color: #fff;
}

.welcome-container {
  height: 100%;
  padding-top: 13.5vh;
  padding-right: 44%;
  padding-left: 15%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
}

.tabs-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 5;
}

.tabs-content {
  height: 100vh;
}

.tab-link {
  padding-right: 25px;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, .25);
  text-align: center;
}

.tab-link.w--current {
  background-color: #000;
}

.tab-link.left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.tab-link.right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.app-logo {
  width: 40px;
}

.go-to-button {
  margin-top: 0px;
  padding-top: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.go-to-button:hover {
  background-color: hsla(0, 0%, 100%, .2);
  color: #fff;
}

.go-to-button.grey {
  border-color: #969696;
  color: #969696;
}

.go-to-button.grey:hover {
  background-color: #969696;
  color: #fff;
}

.app-name {
  margin-top: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 1.3em;
  text-transform: none;
}

.brand {
  padding-top: 6px;
  padding-bottom: 6px;
}

.brand.w--current {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.firstsection {
  padding-top: 125px;
  padding-bottom: 0px;
  background-color: #fff;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #e6e6e6;
}

.personimage {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 45px;
}

.personimage.large {
  width: 200px;
  height: 200px;
  margin-right: 0px;
  margin-bottom: 20px;
  border-radius: 150px;
}

.personname {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 26px;
  line-height: 1.2em;
}

.personbio {
  margin-top: 20px;
  text-align: center;
}

.container {
  display: block;
  max-width: 1550px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 8%;
  padding-left: 8%;
}

.peoplecontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.person {
  width: 31%;
  margin: 2.5% 1% 1%;
}

.peopleheading {
  margin-left: 1%;
  color: #000;
  font-weight: 500;
}

.contactblock {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #8a8a8a;
}

.fhtlcontact {
  width: 45%;
  padding: 40px 0px 60px 30px;
  background-color: #32363a;
  color: #fff;
  font-size: 17px;
  text-align: center;
}

.fhtlcontact.rf {
  padding-right: 30px;
  padding-left: 0px;
  background-color: #0a6160;
}

.diagonal {
  overflow: hidden;
  width: 10%;
  background-image: url('../images/slice1.png');
  background-position: 0px 0px;
  background-size: 100% 100%;
}

.contactheader {
  color: #000;
  text-align: center;
}

.contactinfoblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
}

.contactinfoblock:hover {
  color: hsla(0, 0%, 100%, .5);
}

.icon {
  margin-right: 10px;
  font-family: 'Fontawesome webfont', sans-serif;
  text-decoration: none;
}

.contacthearder2 {
  margin-bottom: 15px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ededed;
}

.footerflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.linkcolumn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.footerheader {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.footerlink {
  margin-top: 5px;
  color: #969696;
  font-size: 16px;
  text-transform: none;
}

.footerlinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.logosblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid #8f8f8f;
}

.logos {
  height: 70px;
  margin: 30px;
}

.familysearchcontact {
  margin-top: 25px;
  text-align: center;
}

.fhtldonate {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 30px 40px 80px;
  background-color: #fff;
  color: #969696;
  font-size: 17px;
  text-align: center;
}

.donateimage {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media (max-width: 991px) {
  .nav-menu {
    height: auto;
    background-color: #000;
  }
  .welcome-tab {
    height: auto;
    padding-top: 286px;
    background-image: -webkit-linear-gradient(45deg, #00b2ea, #0097de 17%, #017dca 31%, #0459b1 73%, #1142a5);
    background-image: linear-gradient(45deg, #00b2ea, #0097de 17%, #017dca 31%, #0459b1 73%, #1142a5);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .welcome-tab.rf-tab {
    background-image: -webkit-linear-gradient(45deg, #2f7675, #255c5c);
    background-image: linear-gradient(45deg, #2f7675, #255c5c);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .welcome-tab.opg-tab {
    background-image: -webkit-linear-gradient(270deg, #273646, #273646);
    background-image: linear-gradient(180deg, #273646, #273646);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .welcome-tab.wff-tab {
    background-image: -webkit-linear-gradient(45deg, #2d3288, #464a8e);
    background-image: linear-gradient(45deg, #2d3288, #464a8e);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .welcome-tab.vp-tab {
    background-image: -webkit-linear-gradient(45deg, #135369, #273646);
    background-image: linear-gradient(45deg, #135369, #273646);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .welcome-tab.pp-tab {
    background-image: -webkit-linear-gradient(45deg, #5f3f20, #835f3d 57%);
    background-image: linear-gradient(45deg, #5f3f20, #835f3d 57%);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .welcome-tab.fhtltab {
    background-image: -webkit-linear-gradient(45deg, #00b2ea, #0097de 17%, #017dca 31%, #0459b1 73%, #1142a5);
    background-image: linear-gradient(45deg, #00b2ea, #0097de 17%, #017dca 31%, #0459b1 73%, #1142a5);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .welcome-container {
    height: auto;
    min-height: 100vh;
    padding-top: 10%;
    padding-right: 12%;
    padding-left: 12%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav-link {
    color: #fff;
  }
  .nav-link:hover {
    color: #fff;
    text-decoration: underline;
  }
  .tabs-menu {
    overflow: auto;
    max-width: 100%;
    padding-top: 77px;
  }
  .tabs-content {
    height: auto;
  }
  .tab-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 155px;
    padding-right: 5px;
    padding-left: 5px;

  }
  .tab-link.left {
    padding-left: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .tab-link.right {
    padding-right: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .app-logo {
    width: 40px;
  }
  .laptop-image {
    width: 100%;
    margin-top: 10%;
    padding-bottom: 50px;
  }
  .menu-button {
    padding: 25px;
    color: #000;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .person {
    width: 98%;
  }
  .contactblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .fhtlcontact {
    width: 100%;
    padding-right: 30px;
    padding-bottom: 60px;
  }
  .fhtlcontact.rf {
    padding-left: 30px;
  }
  .diagonal {
    display: none;
  }
  .logosblock {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .fhtldonate {
    width: 100%;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .welcome-tab {
    padding-top: 50px;
    padding-bottom: 200px;
  }
  .welcome-container {
    min-height: 0vh;
    padding-top: 15%;
    padding-right: 7%;
    padding-left: 7%;
  }
  .container {
    padding-right: 3%;
    padding-left: 3%;
  }
  .peopleheading {
    text-align: center;
  }
  .footerflex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .linkcolumn {
    margin-bottom: 30px;
    text-align: center;
  }
  .fhtldonate {
    padding-left: 30px;
  }
}

@media (max-width: 479px) {
  .welcome-tab {
    padding-bottom: 260px;
  }
  .welcome-container {
    padding-top: 20%;
    padding-right: 5%;
    padding-left: 5%;
  }
  .tab-link {
    padding-right: 20px;
    padding-left: 20px;
  }
  .app-logo {
    width: 40px;
  }
  .container {
    padding-right: 1%;
    padding-left: 1%;
  }
  .fhtldonate {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
