<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Donate - FHTL</title>
	<link rel="Shortcut Icon" href="../images/app-icons/icon0.png" type="image/x-icon" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="robots" content="all" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta http-equiv="imagetoolbar" content="false" />	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:site_name" content="Family History Technology Lab"/>
    <meta property="og:title" content="The BYU Family History Technology Lab is a non-profit student research lab sponsored by the BYU Computer Science department. We're dedicated to lowering the entry barrier into family history work by providing simple, usable, and enjoyable family history apps."/>
    <meta property="og:image" content="../css/logo-icon-0.png">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<script src="../js/donateController.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/donate.css">
    
</head>

<body ng-app="myApp" ng-cloak>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>

	<style>

	</style>

	<div id="shell" ng-controller="myCtrl">
		
			<div id="banner">
				<a href="./index.html" id="logo" class="v-center"><img src="../images/new_fhtl.png" width="184px;"></a>
				<div my-directive>
					<div ng-show="width < 800" class="dropdown" ng-class="{ 'hide-dropdown': !displayDropdown, 'show-dropdown': displayDropdown}">
						<ul>
							<li><a href="index.html" class="nav-link-dropdown">HOME</a></li>
							<li><a href="people.html" class="nav-link-dropdown">PEOPLE</a></li>
							<li><a href="contact.html" class="nav-link-dropdown">CONTACT</a></li>
							<li><a href="donate.html" class="nav-link-dropdown active-link">DONATE</a></li>
						</ul>
					</div>
					<div id="navbar" class="v-center">
						<ul>
							<li ng-hide="width <= 800"><a href="donate.html" class="nav-link active-link">DONATE</a></li>
							<li ng-hide="width <= 800"><a href="contact.html" class="nav-link">CONTACT</a></li>
							<li ng-hide="width <= 800"><a href="people.html" class="nav-link">PEOPLE</a></li>
							<li ng-hide="width <= 800"><a href="index.html" class="nav-link">HOME</a></li>
							<li ng-show="width <= 800"  class="menu-icon" ng-class="{'menu-icon-active': displayDropdown}"><a href="" ng-click="displayDropdown = !displayDropdown">&#9776;</a></li>
						</ul>
					</div>	
				</div>
			</div>

			<div class="donate-container">
			    <h1 ng-show="width <= 1000">How to Help</h1>
				<img src="../images/donate-icon.png">
				<div class="donate-info">
				    <a  ng-show="width <= 1000" class="go-to-button donate-button" href="https://ldsp-pay.ldschurch.org/donations/byu/physical-mathematical-sciences/family-history-technology.html" target="_blank">Donate Here</a>
                    <h1 ng-hide="width <= 1000">How to Help</h1>
                    <p>The BYU Family History Technology Lab is a non-profit undergraduate research lab sponsored by BYU.</p>
                    <p>Your donations help pay for the equipment and services that make our lab possible, as well as help pay our student researchers.</p>
                    <p>All donations for the BYU Family History Technology Lab are made through LDS Philanthropies, which handles donations for all BYU organizations.</p>
                    <a ng-hide="width <= 1000" class="go-to-button donate-button" href="https://ldsp-pay.ldschurch.org/donations/byu/physical-mathematical-sciences/family-history-technology.html" target="_blank">Donate Here</a>
				</div>
			</div>
			
			<div id="footer">
			    <hr style="width: 85%;">
			    <div class="footer-links" align="center">
                    <a href="index.html">Home</a>&nbsp;|&nbsp;
                    <a href="https://familysearch.org/" target="_blank">FamilySearch</a>&nbsp;|&nbsp;
                    <a href="https://home.byu.edu/home/" target="_blank">BYU</a>
                    <br>
                    <a href="contact.html">Contact Us</a>&nbsp;|&nbsp;
                    <a href="https://www.facebook.com/BYUFHTL/" target="_blank">Facebook Page</a>
                    <br>
                </div>
		    </div>
	</div>

</body>

</html>