<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Family History Technology Lab</title>
	<link rel="Shortcut Icon" href="../images/app-icons/icon0.png" type="image/x-icon" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="robots" content="all" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta http-equiv="imagetoolbar" content="false" />	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:site_name" content="Family History Technology Lab"/>
    <meta property="og:title" content="The BYU Family History Technology Lab is a non-profit student research lab sponsored by the BYU Computer Science department. We're dedicated to lowering the entry barrier into family history work by providing simple, usable, and enjoyable family history apps."/>
    <meta property="og:image" content="../css/logo-icon-0.png">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<script src="../js/indexController.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    
</head>

<body ng-app="myApp" ng-cloak>

	<style>

	

	</style>

	<div id="shell" ng-controller="myCtrl">
	    
	    <div style="visibility: hidden; width: 0; height: 0; overflow: hidden;">
	        <img ng-repeat="icon in iconList" ng-src="../images/app-icons/screenshot{{$index}}.png">
	        <img ng-repeat="icon in iconList" ng-src="../images/app-icons/lap{{$index}}.png">
	    </div>
		
			<div id="banner">
				<a href="./index.html" id="logo" class="v-center"><img src="../images/new_fhtl.png" width="184px;"></a>
				<div my-directive>
					<div ng-show="width < 800" class="dropdown" ng-class="{ 'hide-dropdown': !displayDropdown, 'show-dropdown': displayDropdown}">
						<ul>
							<li><a href="index.html" class="nav-link-dropdown active-link">HOME</a></li>
							<li><a href="people.html" class="nav-link-dropdown">PEOPLE</a></li>
							<li><a href="resources.html" class="nav-link-dropdown">RESOURCES</a></li>
							<li><a href="contact.html" class="nav-link-dropdown">CONTACT</a></li>
							<li><a href="donate.html" class="nav-link-dropdown">DONATE</a></li>
						</ul>
					</div>
					<div id="navbar" class="v-center">
						<ul>
							<li ng-hide="width <= 800"><a href="donate.html" class="nav-link">DONATE</a></li>
							<li ng-hide="width <= 800"><a href="contact.html" class="nav-link">CONTACT</a></li>
							<li ng-hide="width <= 800"><a href="resources.html" class="nav-link">RESOURCES</a></li>
							<li ng-hide="width <= 800"><a href="people.html" class="nav-link">PEOPLE</a></li>
							<li ng-hide="width <= 800"><a href="index.html" class="nav-link active-link">HOME</a></li>
							<li ng-show="width <= 800"  class="menu-icon" ng-class="{'menu-icon-active': displayDropdown}"><a href="" ng-click="displayDropdown = !displayDropdown">&#9776;</a></li>
						</ul>
					</div>	
				</div>
			</div>

			<div my-directive>
				<div class="icon-container">
					<div ng-repeat="icon in iconList" class="app-icon" ng-class="{ 'active-icon' : $index == currentIcon}" ng-click="setSlide($index); cancelInterval();">
						<img ng-src="../images/app-icons/icon{{$index}}.png" height="40px" style="margin-top: 8px">
						<p ng-show="width > 100" >{{icon.name}}</p>
					</div>
				</div>

				<div class="content-container">
					<div class="info">
						<div class="decorative-line"></div>
						<h1>{{headerList[currentIcon].name}}</h1>
						<p>{{headerList[currentIcon].description}}</p>
						<a ng-show="currentIcon != 0" class="go-to-button" href="{{headerList[currentIcon].url}}" target="_blank">GO TO {{headerList[currentIcon].name}}</a>
						<img ng-show="width < 1001" ng-src="../images/app-icons/screenshot{{currentIcon}}.png" width="100%">
					</div>
					<img ng-src="../images/app-icons/lap{{currentIcon}}.png" width="65%" ng-hide="width < 1001">
				</div>

			</div>
			
	</div>

</body>

</html>

</html>