<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>People - FHTL</title>
	<link rel="Shortcut Icon" href="../images/app-icons/icon0.png" type="image/x-icon" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="robots" content="all" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta http-equiv="imagetoolbar" content="false" />	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:site_name" content="Family History Technology Lab"/>
    <meta property="og:title" content="The BYU Family History Technology Lab is a non-profit student research lab sponsored by the BYU Computer Science department. We're dedicated to lowering the entry barrier into family history work by providing simple, usable, and enjoyable family history apps."/>
    <meta property="og:image" content="../css/logo-icon-0.png">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<script src="../js/peopleController.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/people.css">
    
</head>

<body ng-app="myApp" ng-cloak>

	<style>

	

	</style>

	<div id="shell" ng-controller="myCtrl">
		
			<div id="banner">
				<a href="./index.html" id="logo" class="v-center"><img src="../images/new_fhtl.png" width="184px;"></a>
				<div my-directive>
					<div ng-show="width < 800" class="dropdown" ng-class="{ 'hide-dropdown': !displayDropdown, 'show-dropdown': displayDropdown}">
						<ul>
							<li><a href="index.html" class="nav-link-dropdown">HOME</a></li>
							<li><a href="people.html" class="nav-link-dropdown active-link">PEOPLE</a></li>
							<li><a href="contact.html" class="nav-link-dropdown">CONTACT</a></li>
							<li><a href="donate.html" class="nav-link-dropdown">DONATE</a></li>
						</ul>
					</div>
					<div id="navbar" class="v-center">
						<ul>
							<li ng-hide="width <= 800"><a href="donate.html" class="nav-link">DONATE</a></li>
							<li ng-hide="width <= 800"><a href="contact.html" class="nav-link">CONTACT</a></li>
							<li ng-hide="width <= 800"><a href="people.html" class="nav-link active-link">PEOPLE</a></li>
							<li ng-hide="width <= 800"><a href="index.html" class="nav-link">HOME</a></li>
							<li ng-show="width <= 800"  class="menu-icon" ng-class="{'menu-icon-active': displayDropdown}"><a href="" ng-click="displayDropdown = !displayDropdown">&#9776;</a></li>
						</ul>
					</div>	
				</div>
			</div>

			<div my-directive>
				<div class="title">
					<p>
						Meet the professors and students in charge of building and maintaining FHTL! Hover over a picture to learn more.
					</p>
				</div>
				<div class="people-container" id="peopleBox">
					<div ng-repeat="image in personList" class="person-icon" ng-class="{ 'active-person' : $index == currentIcon}" ng-mouseenter="setSlide($index); cancelInterval();">
						<img ng-src="../images/people/{{personList[$index].image}}">
					</div>
				</div>

				<div class="person-info">
					<h2>{{personList[currentIcon].name}}</h2>
					<p>{{personList[currentIcon].description}}</p>
				</div>

			</div>
			
			<div id="footer">
			    <hr style="width: 85%;">
			    <div class="footer-links" align="center">
                    <a href="index.html">Home</a>&nbsp;|&nbsp;
                    <a href="https://familysearch.org/" target="_blank">FamilySearch</a>&nbsp;|&nbsp;
                    <a href="https://home.byu.edu/home/" target="_blank">BYU</a>
                    <br>
                    <a href="contact.html">Contact Us</a>&nbsp;|&nbsp;
                    <a href="https://www.facebook.com/BYUFHTL/" target="_blank">Facebook Page</a>
                    <br>
                </div>
		    </div>
			
	</div>

</body>

</html>